<div class="card">
    <p-tabView>
        <p-tabPanel header="Menu">
            <div class="card">
                <p-galleria [value]="images" (onValueChange)="imagesChange($event)" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="7" [circular]="true"> 
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%; display: block;"/>
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.thumbnailImageSrc" style="display: block;"/>
                        </div>
                    </ng-template>
                </p-galleria>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Location">
            <google-map 
                [style.height.%]="100"
                [style.width.%]="100"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
            </google-map>
        </p-tabPanel>
        <p-tabPanel header="Seating Plan">
            <p class="m-0">Pending...</p>
        </p-tabPanel>
    </p-tabView>
</div>