<div class="tabview-wrapper card center">
    <p-tabView>
        <p-tabPanel header="Menu">
            <div class="card flex justify-content-center">
                <p-image src="https://lmaia-22.github.io/27Primaveras/assets/menu.jpeg" alt="Image" width="100%" [preview]="true"></p-image>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Location">
            <div #mapContainer class="map-container">
                <google-map [options]="options" [width]="mapWidth" [height]="mapHeight"/>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Seating Plan">
            <p class="m-0">Pending...</p>
        </p-tabPanel>
    </p-tabView>
</div>